div.container.bg-success.rounded-5.p-5
  h2 About Teddy: Your Trusted Car Delivery Partner in Kota Kinabalu
  br
  p Established in August 2023, Teddy has quickly become a leading name in Door-to-Door car delivery services in Kota Kinabalu. With a team of highly skilled and experienced professionals, we take pride in ensuring the safe and timely transportation of your vehicles. Our commitment to excellence and customer satisfaction sets us apart, making us the preferred choice for car delivery around the whole Sabah. Rest easy knowing that your vehicle is in the capable hands of Teddy's dedicated and well-trained staff.